

<h2> To give you the most accurate cost estimation , we need the length and width of your bathroom: 
</h2>
<form id="bathroomsize">
<div class="form-group">
    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Bathroom length (in meters)" ng-model="br.height">
</div>

<div class="form-group">
<input type="number" class="form-control" id="exampleInputEmail1" placeholder="Bathroom width (in meters)" ng-model="br.width">
</div>
<div class="form-group">

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="savesize(br);">Next</button>
</p>
</form>
</div>